---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('September 03 2023')}
	heroImage="/Andre.jpg"
>
	<h4>📚 Educational Background:</h4>
	<li>Degree: Bachelor of Science in Physics</li>
	<li>Institution: University of British Columbia</li>

	<h4>💻 Technical Skills:</h4>
	<li>Programming Languages: Proficient in Python and JavaScript</li>
	<li>Data Structures & Algorithms: Taught these topics, with an emphasis on practical applications</li>
	<li>Data Analysis & Statistics: Skilled in leveraging data to draw actionable insights</li>

	<h4>🎓 Teaching Experience:</h4>
	<p>I've always believed in the power of education. My experience includes private tutoring where I've taught complex algorithms and data structures to aspiring programmers and tech enthusiasts.</p>

	<h4>Passions</h4>
	<li><b>Physics:</b> My academic background has instilled a scientific mindset and a knack for problem-solving.</li>
	<li><b>Mathematics & Computer Science:</b> These fields have been my playground for years, offering endless puzzles and solutions.</li>
	<li><b>Data:</b> Whether it's creating complex algorithms or diving into statistical models, I find joy in extracting meaning from numbers.</li>

</Layout>
